{% extends 'gallery/base.html' %}
{% block content %}

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1><em>{{ title }}</em></h1>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="form-gallery">
        <h3>Password reset complete</h3>
        <p>Your password has been successfully reset, you may now login with your new password</p>
        <a href="{% url 'login'%}">Login</a>
    </div>
    
</div>
{% endblock %}