{% extends 'gallery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1><em>{{ title }}</em></h1>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" action="" class="form-gallery">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="legend">ArtManAfrica</legend>
                {{ form | crispy  }}
               
            <div class="form-group">
                <button class="gallery-submit" type="submit">Send Email</button>
            </div>

        </form>
    </div>
{% endblock %}